<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("StyleSheets")
</head>
<body class="game_info" data-spy="scroll" data-target=".header">
    @RenderBody()
    @RenderSection("Scripts")
</body>
</html>
