@page
@using BetYouServer.Models
@model BetYouServer.Pages.LoginModel
@{
    ViewData["Title"] = "Login";

    string lcMessage = null;
    switch (Model.Exception)
    {
        case ServerException.None: lcMessage = "Please enter your credentials..."; break;
        case ServerException.UnknownUsername: lcMessage = "The specified username not found!"; break;
        case ServerException.InvalidLoginCredentials: lcMessage = "Invalid Login Credentials!"; break;
        default: break;
    }
}
<div class="header">
    <h2>Login</h2>
</div>

<div class="login-credentials">
    <div class="lc-message">
        <label> @lcMessage </label>
    </div>
    <div class="lc-input">
        <form method="post">
            <div class="lci-username">
                <label> Username: </label> <input asp-for="Account.Username" />
            </div>
            <div class="lci-password"> 
                <label> Password: </label> <input asp-for="Account.Password" /> 
            </div>
            <div class="lci-submit">
                <input type="submit" />
            </div>
        </form>
    </div>
</div>

